/* DriverDashboard.module.css */

.driver-dashboard {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Arial', sans-serif;
  }
  
  .driver-dashboard h1 {
    color: #33962a;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .order-list, .prescription-list {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .order-list h2, .prescription-list h2 {
    color: #33962a;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .order-list  p{
    font-weight: 500;
  }
  
  .order-select h4{
    font-weight: 800;
    color: #19b731;
  }

  .order-item, .prescription-item {
    background-color: #fff;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .order-item:hover, .prescription-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-item p, .prescription-item p {
    margin: 0.5rem 0;
    color: #495057;
  }
  
  .order-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .order-details h2 {
    color: #33962a;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .order-details p {
    margin: 0.5rem 0;
    color: #495057;
  }

  
  button {
    background-color: #40cf33;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: rgb(130, 236, 169);
    color: black;
  }
  
  .prescription-item select{
    padding: 0.5rem;
    border: 1px solid #2dda41;
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 1rem;

  }
  
  .order-item select{
    padding: 0.5rem;
    border: 1px solid #2dda41;
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .loading, .error {
    text-align: center;
    font-size: 1.2rem;
    color: #495057;
    margin-top: 2rem;
  }
  
  .error {
    color: #dc3545;
  }
  
  @media (max-width: 768px) {
    .driver-dashboard {
      padding: 1rem;
    }
  
    .order-list, .prescription-list, .order-details {
      padding: 1rem;
    }
  
    .driver-dashboard h1 {
      font-size: 2rem;
    }
  
    .order-list h2, .prescription-list h2, .order-details h2 {
      font-size: 1.5rem;
    }
  }


  