.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 290px;
}

.nav-menu {
display: flex;
list-style: none;
gap: 20px;
color: rgb(37, 233, 109);
font-size: 18px;
}

.nav-right{
    display: flex;  
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: rgb(144, 10, 10);
    border: 1px solid rgb(37, 233, 109);
    padding: 10px 30px;
    border-radius: 50px;   
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color:  rgb(130, 236, 169) ;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid slategray;
}

.navbar li{
    cursor: pointer;
}

.nav-search-icon{
    position: relative;
}

.nav-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .nav-menu{
        gap: 20px;
        font-size: 17px;
    }
    .nav-right{
        gap: 30px;
    }
    .nav-right img{
        width: 22px;
    }
    .nav-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .nav-menu{
        gap: 15px;
        font-size: 16px;
    }
    .nav-right{
        gap: 320px;
    }
    .nav-right img{
        width: 20px;
    }
    .nav-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

.nav-profile{
    position: relative;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.nav-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid rgb(209, 47, 18);
    list-style: none;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img{
    width: 21px;
}

.nav-profile-dropdown li:hover{
    color: rgb(10, 216, 10);
}

@media (max-width:750px){
   
    .nav-menu{
       display: none;
    }
  
}