<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mapbox Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
  <style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
  </style>
</head>
<body>
  <div id="map"></div>
  <script>
    mapboxgl.accessToken = 'sk.eyJ1IjoiYWtpbjEyMyIsImEiOiJjbHp0am05Z2wyNm1hMnJzOG12djU0NmEzIn0.I61eXc2ZLdTpFM2X2JVPIw';
    var map = new mapboxgl.Map({
      container: 'map', // ID of the container element
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-74.5, 40], // starting position [lng, lat]
      zoom: 9 // starting zoom
    });
  </script>
</body>
</html>
